@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
html {
    -webkit-text-size-adjust: none;
}
body {
    -webkit-user-select: none;
    font-family:'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #424242;
}
header, footer, nav, section, aside, figure, figcaption, article, audio, video {
    display: block;
}
input {
    outline: none;
}

ul, li {
    list-style: none;
}
a, a:hover, a:active, a:visited, a:target {
    text-decoration: none;
    color: #424242;
}
img {
    display: block;
    border: none;
}
.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}
html {
    font-size: 100px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.arrow {
    position: absolute;
    left: 50%;
    bottom: .2rem;
    z-index: 100;
    margin-left: -.12rem;
    width: .24rem;
    height: .18rem;
    background: url("../img/web-swipe-tip.png") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    -webkit-animation: arrowFlash 1s linear 0s infinite;
    animation: arrowFlash 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
.swiper-container {
    height: 100%;
}
.swiper-slide {
    position: relative;
    height: 100%;
}
.pageFir {
    background: url("../img/p4.jpg") no-repeat;
    background-size: cover;
}
.pageTwo{
     background: url("../img/b3.jpg") no-repeat;
     background-size: 100% 100%;
 }
.pageThr{
    background: url("../img/b3.jpg") no-repeat;
    background-size: 100% 100%;
}
.pageFor{
    background: url("../img/p4.jpg") no-repeat;
    background-size: 100% 100%;
}
.pageFiv {
    background: url("../img/p4.jpg") no-repeat;
    background-size: 100% 100%;
}
/*第一张*/
.resume{
    position: absolute;
    left: 0;
    top: 1.3rem;
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    border-bottom: 2px solid lightblue;
    letter-spacing: .03rem;
    text-align: center;
    opacity: 0;
}
.resume span{
    display: inline-block;
}
.resume span:nth-child(1){
    line-height: .25rem;
    font-size: .12rem;
    height: .25rem;
}
.resume span:nth-child(3){
    height: .5rem;
    line-height: .5rem;
    font-size: .24rem;
}
.logo{
    position: absolute;
    left:0;
    bottom:5%;
    margin: .15rem auto;
    width: 100%;
    height: 30%;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}
.job_direction{
    position: absolute;
    left: .6rem;
    top: 3rem;
    width: 2rem;
    height: .4rem;
    text-align: center;
    line-height: .4rem;
    letter-spacing: .03rem;
    font-size: .18rem;
    font-weight:normal;
    color: #FFFFFF;
    opacity: 0;
}
.title{
    position: absolute;
    left: 0;
    bottom: 1rem;
    font-size: .18rem;
    width: 100%;
    color:rgba(255,255,255,.8);
    opacity: 0;
    text-align: center;
}
.title p{
    display: inline-block;
}
/*第二张*/
.white_back{
    position: absolute;
    left: .05rem;
    top: .6rem;
    width: 3rem;
    height: 4rem;
    background: url("../img/photo-inner.png") no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}
.basic{
    position: absolute;
    left: .35rem;
    top: .5rem;
    width: .85rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    font-size: .18rem;
    border: .02rem dashed #c4c1a2;
    color: khaki;
    border-radius: .025rem;
}
.basic_ul{
    position: absolute;
    left: .35rem;
    top: 1rem;
    color: khaki;
}
.basic_ul li{
    padding-bottom: .075rem;
    height: .2rem;
    line-height: .2rem;
    font-size: .16rem;
}
/*第三张*/
.skills{
    margin: .3rem auto;
    width: 2rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .24rem;
    letter-spacing: .05rem;
    color: #FFFFFF;
    border-radius: .05rem;
    opacity: 0;
}
.pageThr ul{
    position: absolute;
    left: .2rem;
    top: 1.3rem;
    //border: 1px solid black;
}
.skill_list{
    width: 2.5rem;
    height: .5rem;
    line-height: .5rem;

}
.skill_list .child_left{
    position: absolute;
    left: 0;
    width: .6rem;
    height: .5rem;
    opacity: 0;
}
.skill_list1{
    top: 0;
}
.skill_list2{
    top: .7rem;
}
.skill_list3{
    top: 1.4rem;
}
.skill_list4{
    top: 2.1rem;
}
.skill_list5{
    top: 2.8rem;
}

.skill_list .child_left img{
    width: 100%;
    height: 100%;
}
.skill_list p{
   position: absolute;
    right: 0;
    width: 1.5rem;
    font-size: .16rem;
    text-align: center;
    color: #FFFFFF;
    opacity: 0;
}
.child_right1{
    top: 0;
}
.child_right2{
    top: 0.7rem;
}
.child_right3{
    top: 1.4rem;
}
.child_right4{
    top: 2.1rem;
}
.child_right5{
    top: 2.8rem;
}
/*第四页*/
.experience{
    margin: .3rem auto;
    width: 2.5rem;
    text-align: center;
    height: .5rem;
    line-height: .5rem;
    font-size: .24rem;
    letter-spacing: .05rem;
    color: rgba(255,255,255,.8);
    opacity: 0;
}
.mid{
    position: absolute;
    left: 1.58rem;
    bottom: .5rem;
    width: .05rem;
    height: 0;
    background: lightseagreen;
    border-radius: .05rem;
}
.mid>div{
    position: absolute;
    left:0 ;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    background: lightcoral;
}
.fir{
    bottom: 0.35rem;
    opacity: 0;
}
.two{
    bottom: 1.2rem;
    opacity: 0;
}
.thr{
    bottom: 2.3rem;
    opacity: 0;
}
.for{
    bottom: 3.2rem;
    opacity: 0;
}
.pageFor ul{
    position: absolute;
    bottom: .5rem; ;
    width: 1.3rem;
    color: #FFFFFF;
    font-size: .16rem;
}
.pageFor ul.left{
    left: .1rem;
}
.pageFor ul.right{
    right: .1rem;
}
.pageFor ul.left li,.pageFor ul.right li{
    position: absolute;
    left: 0;
    opacity: 0;
    color: #fff;
}
.fir_left,.fir_right{
    bottom: 1.4rem;
}
.two_left,.two_right{
    bottom: 1.4rem;
}
.thr_left,.thr_right{
    bottom: 2.9rem;
}
.for_left,.for_right{
    bottom: 3rem;
}
/*第五张*/
.contact{
    margin: .3rem auto;
    width: 2rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .24rem;
    letter-spacing: .05rem;
    color: #FFFFFF;
    border-radius: .05rem;
    opacity: 0;
}
div.weixin{
    margin: .2rem auto;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
}
.weixin img{
    width: 100%;
    height: 100%;
}
.weixin p{
    font-size: .14rem;
    color: #ccc;
    text-align: center;
    padding-top: .1rem;
}
.info{
    margin: 1rem auto;
    width: 1.8rem;
}
.info li{
    height: .5rem;
    line-height: .5rem;
    font-size: .18rem;
    color: #fff;
    opacity: 0;
    text-align: center;
}
.info li.con{
    font-size: .16rem;
    color: #ccc;
}
/*第一页*/
#page1 .resume{
    -webkit-animation: fadeInUp 2s ease 0.1s 1 both;
    animation: fadeInUp 2s ease 0.1s 1 both;
}
#page1 .logo{
    -webkit-animation: fadeInDown 3s ease 0s 1 both;
    animation: fadeInDown 3s ease 0s 1 both;
}
#page1 .job_direction{
    -webkit-animation: bounceInLeft 2s 1s both;
    animation: bounceInLeft 2s 1s both;
}
#page1 .title{
    -webkit-animation: fadeIn 2.5s ease 1s 1 both;
    animation: fadeIn 2.5s ease 1s 1 both;
}
#page1 .know_more{
    -webkit-animation: bounceInUp 2s 2s both;
    animation: bounceInUp 2s 2s both;
}
/*第二张*/
#page2 .white_back{
    -webkit-animation: fadeIn 2s 0.2s both;
    animation: fadeIn 2s 0.2s both;
}
#page2 h2{
    -webkit-animation: rollIn 2s 0.5s both;
    animation: rollIn 2s 0.5s both;
}
#page2 ul{
    -webkit-animation: bounceInLeft 2s 1s both;
    animation: bounceInLeft 2s 1s both;
}
#page2 .mySelf{
    -webkit-animation: zoomInRight 2s 1.3s both;
    animation: zoomInRight 2s 1.3s both;
}
/*第三页*/
#page3 .skills{
    -webkit-animation: fadeInLeft 2.6s ease 0s 1 both;
    animation: fadeInLeft 2.6s ease 0s 1 both;
}
#page3 .child_left{
    -webkit-animation: fadeInLeft 2.6s ease 0s 1 both;
    animation: fadeInLeft 2.6s ease 0s 1 both;
}
#page3 .child_right1{
    -webkit-animation: fadeInRight 1s 1s both;
    animation: fadeInRight 1s 1s both;
}

#page3 .child_right2{
    -webkit-animation:  fadeInRight 1s 2s both;
    animation:  fadeInRight 1s 2s both;
}
#page3 .child_right3{
    -webkit-animation:  fadeInRight 1s 3s both;
    animation:  fadeInRight 1s 3s both;
}
#page3 .child_right4{
    -webkit-animation:  fadeInRight 1s 4s both;
    animation:  fadeInRight 1s 4s both;
}
#page3 .child_right5{
    -webkit-animation:  fadeInRight 1s 5s both;
    animation:  fadeInRight 1s 5s both;
}
/*第四张*/
#page4 .experience{
    -webkit-animation: fadeIn 1s 0.2s both;
    animation: fadeIn 1s 0.2s both;
}
#page4 .mid{
    -webkit-animation: divMove 1s 0.5s both;
    animation: divMove 1s 0.5s both;
}
#page4 .fir{
    -webkit-animation: big_small 1s 0.7s both;
    animation: big_small 1s 0.7s both;
}
#page4 .fir_left{
    -webkit-animation: fadeInLeft 1s 1s both;
    animation: fadeInLeft 1s 1s both;
}
#page4 .fir_right{
    -webkit-animation: fadeInRight 1s 1.3s both;
    animation: fadeInRight 1s 1.3s both;
}
#page4 .two{
    -webkit-animation: big_small 1s 1.6s both;
    animation: big_small 1s 1.6s both;
}
#page4 .two_left{
    -webkit-animation: fadeInLeft 1s 1.9s both;
    animation: fadeInLeft 1s 1.9s both;
}
#page4 .two_right{
    -webkit-animation: fadeInRight 1s 2.2s both;
    animation: fadeInRight 1s 2.2s both;
}
#page4 .thr{
    -webkit-animation: big_small 1s 2.5s both;
    animation: big_small 1s 2.5s both;
}
#page4 .thr_left{
    -webkit-animation: fadeInLeft 1s 2.8s both;
    animation: fadeInLeft 1s 2.8s both;
}
#page4 .thr_right{
    -webkit-animation: fadeInRight 1s 3.1s both;
    animation: fadeInRight 1s 3.1s both;
}
#page4 .for{
    -webkit-animation: big_small 1s 3.4s both;
    animation: big_small 1s 3.4s both;
}
#page4 .for_left{
    -webkit-animation: fadeInLeft 1s 3.7s both;
    animation: fadeInLeft 1s 3.7s both;
}
#page4 .for_right{
    -webkit-animation: fadeInRight 1s 4s both;
    animation: fadeInRight 1s 4s both;
}
/*第五页*/
#page5 .contact{
    -webkit-animation: lightSpeedIn 1s 0s both;
    animation: lightSpeedIn 1s 0s both;
}
#page5 .weixin{
    -webkit-animation: fadeIn 1s 0.3s both;
    animation: fadeIn 1s 0.3s both;
}
#page5 .con{
    -webkit-animation: rollIn 2s 1.2s ease both;
    animation: rollIn 2s 1.2s ease both;
}
#page5 .restart{
    -webkit-animation: rollIn 2s 2.2s ease both;
    animation: rollIn 2s 2.2s ease both;
}